//META{"name":"Friends List Restyle","description":"Card/Box style friends list with animations. Please use the support server listed below if you need any help.","author":"Satoru","version":"2.0","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://satoru8.github.io/Addons/FriendsList.css);

:root {

    --mc: rgba(0, 185, 255, 0.8); /*Main Color*/
    --sc: rgba(0, 185, 255, 0.8); /*Accent Color*/

    --online: #43b592;
    --offline: #747f8d;
    --idle: #faa61a;
    --stream: #593695;
    --dnd: #f04747;
    --invis: #1a36fa;

}