//META{"name":"Large Chat Avatars","description":"Larger chat avatars. Adjustable size. Please use the support server listed below if you need any help.","author":"Satoru","version":"1.2","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://satoru8.github.io/Addons/LargeChatAvatars.css);

:root {
	
	--size1: 60px; /* Avatar Size */

	--round1: 5%;  /* Avatar roundness 50% Circle. */

	--margin1: 0px; /* Margin left/right */
	--margin2: 0px; /* Margin top/bottom */

	--shadow1: 0 0 0px #000; /* Shadow for transparent themes. */
	
	--compact: 5px;    /* Default 5px, Non-compact 15px. This makes the chat msgs a bit more compact by default. */
}