//META{"name":"Miku<3","description":"~Hatsune Miku theme~ Please use the support server listed below if you need any help.","author":"Satoru","version":"1.0","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://satoru8.github.io/Collection/Base.css);
@import url(https://satoru8.github.io/Addons/SmallerGuildIcons.css);
@import url(https://satoru8.github.io/Addons/MemberlistPopout.css);
@import url(https://satoru8.github.io/Addons/FriendsList.css);

:root {
    --light: rgba(0, 0, 0, .5); 		/* Overall brightness. 1= black, 0 = transparent */
    --userlight:rgba(0, 0, 0, 0.5);		/* Brightness for the userpopouts */
	--mc: hsla(199, 78%, 32%, 0.8);		/* Main colour. Larger items, backgrounds. */
	--sc: hsla(133, 100%, 66%, 0.8);	/* Accent/Secondary colour. Borders, notifications & such.  */
	--bc: hsla(133, 100%, 66%, 0.8);		/* All borders/box shadows. You should match this to your mc or sc colour. */
	--round: 50%;						/* Overall Icon roundness */
	--font: sans-serif;	
	--font-size: 15px;
	--text:  #eee; 						/* Text colour. */
	--block: none;						/* Show/Hide blocked msgs */
	--size: 35px;							/* Guild Icon Size */
}
#app-mount {background: url(https://images4.alphacoders.com/836/83606.jpg) center/cover no-repeat}
.userPopout-3XzG_A {background: url(https://media.giphy.com/media/RlEu9mZPASs8M/giphy.gif) center/cover no-repeat}
svg.homeIcon-tEMBK1{background: url(https://media.giphy.com/media/juG0Xf5LCBGWQ/giphy.gif) no-repeat center/cover}